<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup class="text-danger table-margin" style="padding:100px;">
        <h1><span class="fa fa-user-secret"></span> Deletion Not Allowed.</h1>
        <h4>You have fired a delete request which is not allowed as of now.</h4>
    </hgroup>
    <div class="dropdown-divider"></div>
    
    <a href="~/Registration/Dashboard" class="btn btn-danger"> <span class="fa fa-home"></span> Return Home</a>
</body>
</html>
